SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="7573335393535150C171", SYMLINK="roofbattery", MODE="0666", TAG+="systemd" ENV{SYSTEMD_WANTS}="wasp_roofbattery.service"
